@charset "UTF-8";
/**https://www.zhihu.com/question/356834039/answer/902427488 CSS RESET**/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  /*对元素指定宽度和高度包括了 padding 和 border 。*/
  /*通过从已设定的宽度和高度分别减去边框和内边距才能得到内容的宽度和高度。,inherit所有的元素都继承这一点*/
  box-sizing: inherit; }

/*定义root font-size,1rem相当于多少px*/
html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  /*number	设置数字，此数字会与当前的字体尺寸相乘来设置行间距。*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/*:link表示鼠标点击之前，也称为原始状态*/
/*:hover表示鼠标悬停状态*/
/*:active表示鼠标点击状态*/
/*:visited表示鼠标点击之后状态*/
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  /*前两个参数是x,y,第三个是阴影强度，第四个是阴影颜色*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /*这四句是将伪类藏到真实的对象后面去，重叠*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white {
  margin-top: 6rem;
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  margin-top: 6rem;
  background-color: #55c57a;
  color: #fff; }
  .btn-green::after {
    background-color: #55c57a; }

/*刷新的时候向上运动，有0.75s的延迟，然后运行0.5s*/
.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  /*在 animation-delay 所指定的一段时间内，在动画显示之前，应用开始属性值（在第一个关键帧中定义）,
  这样就不会出现从零点然后跳帧的情况,延迟时间走完之后才出现第一帧*/
  /*0%{
     opacity: 0;
      transform: translateY(15px);
  }  https://segmentfault.com/q/1010000003867335 */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .5rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-green-2 {
  margin-top: 2.5rem;
  background-color: #55c57a;
  color: #fff;
  border: none; }
  .btn-green-2::after {
    background-color: #55c57a; }

.header {
  /*vh：1vh等于视口高度的1%。*/
  height: 95vh;
  /*此时会保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小。*/
  background-size: cover;
  /*设置背景图像的起始位置*/
  background-position: top;
  /*多边形裁切*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo-box .logo {
      height: 3.5rem; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /*https://www.w3cplus.com/content/css3-transform
    translate水平移动，这个百分比是自己的百分比*/
    transform: translate(-50%, -50%);
    /*整体居中,因为按钮是inline-block可以按照文字来处理*/
    text-align: center; }
    .header .text-box .heading-primary {
      color: #fff;
      text-transform: uppercase;
      /*防止震动*/
      backface-visibility: hidden; }
      .header .text-box .heading-primary .heading-primary-main {
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*animation-delay: 3s;*/ }
      .header .text-box .heading-primary .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3* 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3* 6rem) / 4) + 2*6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  .section-about .u-center-text {
    text-align: center;
    margin: 0 auto; }
    .section-about .u-center-text .heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s; }
      .section-about .u-center-text .heading-secondary:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .section-about .u-margin-bottom-8 {
    margin-bottom: 8rem; }
  .section-about .row .col-1-of-2 .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .section-about .row .col-1-of-2 .u-margin-bottom-8 {
    margin-bottom: 1.5rem; }
  .section-about .row .col-1-of-2 .paragraph {
    font-size: 1.6rem; }
    .section-about .row .col-1-of-2 .paragraph:not(:last-child) {
      margin-bottom: 3rem; }

.composition {
  position: relative; }
  .composition .photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition .photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .photo:not(:hover) {
    transform: scale(0.95); }
  .composition .photo_p1 {
    left: 0;
    top: -2rem; }
  .composition .photo_p2 {
    right: 0;
    top: 2rem; }
  .composition .photo_p3 {
    left: 20%;
    top: 18rem; }

.section-features {
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  .section-features .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .3s; }
    .section-features .feature-box .u-margin-bottom-small {
      margin-bottom: 1.5rem; }
    .section-features .feature-box .feature-box-icon {
      display: inline-block;
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent; }
    .section-features .feature-box:hover {
      transform: translateY(-1.5rem) scale(1.03); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25em 0 15rem 0;
  margin-top: -10rem; }
  .section-tours .u-center-text {
    text-align: center;
    margin: 0 auto; }
    .section-tours .u-center-text .heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s; }
      .section-tours .u-center-text .heading-secondary:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .section-tours .u-margin-bottom-8 {
    margin-bottom: 8rem; }
  .section-tours .discover_btn {
    text-align: center; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card .card_side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card .card_side .card-front-pic {
      height: 23rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card .card_side .card-front-heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      text-align: right;
      width: 67%; }
      .card .card_side .card-front-heading .card_heading_span {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
    .card .card_side .card-front-detail {
      padding: 3rem; }
      .card .card_side .card-front-detail ul {
        list-style: none;
        width: 80%;
        margin: 0 auto; }
        .card .card_side .card-front-detail ul li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem; }
          .card .card_side .card-front-detail ul li:not(:last-child) {
            border-bottom: 1px solid #eeeeee; }
  .card .front {
    background-color: #fff; }
  .card .back {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    transform: rotateY(180deg); }
    .card .back .cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center; }
      .card .back .cta .price {
        text-align: center;
        margin-bottom: 8rem;
        color: #fff; }
        .card .back .cta .price .only {
          font-size: 1.4rem;
          text-transform: uppercase; }
        .card .back .cta .price .value {
          font-size: 6rem;
          font-weight: 100; }
  .card:hover .front {
    transform: rotateY(-180deg); }
  .card:hover .back {
    transform: rotateY(0deg); }

.section-stories {
  padding: 10rem 0;
  position: relative; }
  .section-stories .u-center-text {
    text-align: center;
    margin: 0 auto; }
    .section-stories .u-center-text .heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s; }
      .section-stories .u-center-text .heading-secondary:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .section-stories .u-margin-bottom-8 {
    margin-bottom: 8rem; }
  .section-stories .story {
    width: 75%;
    margin: 0 auto 10rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;
    font-size: 1.6rem;
    transform: skewX(-10deg); }
    .section-stories .story .heading-tertiary {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase; }
    .section-stories .story .u-margin-bottom-small {
      margin-bottom: 1.5rem; }
    .section-stories .story .story_shape {
      width: 15rem;
      height: 15rem;
      float: left;
      z-index: 99;
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(10deg);
      position: relative; }
      .section-stories .story .story_shape .story_image {
        height: 100%;
        transform: scale(1.4);
        transition: all .5s; }
      .section-stories .story .story_shape .story_caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: #fff;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s; }
      .section-stories .story .story_shape:hover .story_caption {
        opacity: 1;
        transform: translate(-50%, -50%); }
      .section-stories .story .story_shape:hover .story_image {
        transform: scale(1);
        filter: blur(2px) brightness(80%); }
    .section-stories .story .story_text {
      transform: skewX(10deg); }
  .section-stories .discover_btn {
    text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .section-book .book {
    border-radius: 3px;
    height: 50rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .section-book .book .book-form {
      width: 50%;
      padding: 6rem; }
      .section-book .book .book-form .u-center-text {
        text-align: center;
        margin: 0 auto;
        transform: translateX(-7rem); }
        .section-book .book .book-form .u-center-text .heading-secondary {
          font-size: 3.5rem;
          text-transform: uppercase;
          font-weight: 700;
          background-image: linear-gradient(to right, #7ed56f, #28b485);
          display: inline-block;
          -webkit-background-clip: text;
          color: transparent;
          letter-spacing: .2rem;
          transition: all .2s; }
          .section-book .book .book-form .u-center-text .heading-secondary:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.05);
            text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
      .section-book .book .book-form .u-margin-bottom-medium {
        margin-bottom: 5rem; }

.form .form_group .form_input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all .2s; }
  .form .form_group .form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form .form_group .form_input:focus:invalid {
    border-bottom: 3px solid #ff0004; }
  .form .form_group .form_input::-webkit-input-placeholder {
    color: #999; }
  .form .form_group .form_input:placeholder-shown + .form_label {
    opacity: 0; }

.form .form_group .form_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form .form_group:not(:last-child) {
  margin-bottom: 2rem; }

.form .radio_group {
  width: 45%;
  display: inline-block;
  cursor: pointer; }
  .form .radio_group .radio_input {
    display: none; }
  .form .radio_group .radio_input:checked + .radio_label .radio_button::after {
    opacity: 1; }
  .form .radio_group .radio_label {
    font-size: 1.6rem;
    position: relative;
    padding-left: 3.5rem; }
    .form .radio_group .radio_label .radio_button {
      height: 3rem;
      width: 3rem;
      border: 5px solid #55c57a;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0;
      top: -.4rem; }
      .form .radio_group .radio_label .radio_button::after {
        content: "";
        height: 1rem;
        width: 1rem;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #55c57a;
        opacity: 0;
        transition: opacity .2s; }

.footer {
  background-color: #333;
  padding: 8rem 0;
  font-size: 1.4rem; }
  .footer .footer_logo_box {
    text-align: center; }
    .footer .footer_logo_box .footer_logo {
      width: 15rem;
      margin-bottom: 8rem; }
    .footer .footer_logo_box .footer_nav {
      border-top: 1px solid darkgray;
      padding-top: 2rem;
      display: inline-block; }
      .footer .footer_logo_box .footer_nav .footer_list {
        list-style: none; }
        .footer .footer_logo_box .footer_nav .footer_list .footer_item {
          display: inline-block; }
          .footer .footer_logo_box .footer_nav .footer_list .footer_item:not(:last-child) {
            margin-right: 1.5rem; }
          .footer .footer_logo_box .footer_nav .footer_list .footer_item .footer_link:link, .footer .footer_logo_box .footer_nav .footer_list .footer_item .footer_link:visited {
            color: gray;
            text-decoration: none;
            text-transform: uppercase; }
          .footer .footer_logo_box .footer_nav .footer_list .footer_item .footer_link:hover, .footer .footer_logo_box .footer_nav .footer_list .footer_item .footer_link:active {
            color: #55c57a;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .footer .footer_logo_box .footer_copyright {
      border-top: 1px solid darkgray;
      padding-top: 2rem;
      display: inline-block;
      text-align: justify; }

.navigation .nav_checkbox {
  display: none; }
  .navigation .nav_checkbox:checked ~ .nav_background {
    transform: scale(80); }
  .navigation .nav_checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%; }
  .navigation .nav_checkbox:checked + .nav_button .nav_icon {
    background-color: transparent; }
  .navigation .nav_checkbox:checked + .nav_button .nav_icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation .nav_checkbox:checked + .nav_button .nav_icon::after {
    top: 0;
    transform: rotate(-45deg); }

.navigation .nav_button {
  text-align: center;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer; }
  .navigation .nav_button:hover .nav_icon::before {
    top: -1rem; }
  .navigation .nav_button:hover .nav_icon::after {
    top: 1rem; }
  .navigation .nav_button .nav_icon {
    position: relative;
    margin-top: 3.2rem; }
    .navigation .nav_button .nav_icon, .navigation .nav_button .nav_icon::before, .navigation .nav_button .nav_icon::after {
      width: 3rem;
      height: 2px;
      background-color: darkgrey;
      display: inline-block; }
    .navigation .nav_button .nav_icon::before, .navigation .nav_button .nav_icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation .nav_button .nav_icon::before {
      top: -.8rem; }
    .navigation .nav_button .nav_icon::after {
      top: .8rem; }

.navigation .nav_background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 9998;
  background-image: radial-gradient(#7ed56f, #28b485);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: all .4s; }

.navigation .nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  width: 0;
  transition: all .4s; }
  .navigation .nav .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
    .navigation .nav .list .item {
      margin: 1rem; }
      .navigation .nav .list .item .link span {
        margin-right: 1.2rem; }
      .navigation .nav .list .item .link:link, .navigation .nav .list .item .link:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 250%;
        transition: all .4s; }
      .navigation .nav .list .item .link:hover, .navigation .nav .list .item .link:active {
        background-position: 100%;
        color: #55c57a; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup .popup_content {
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    display: table-row;
    overflow: hidden; }
    .popup .popup_content .popup_left {
      width: 33.33%;
      display: table-cell; }
      .popup .popup_content .popup_left .popup_img {
        display: block;
        width: 100%; }
    .popup .popup_content .popup_right {
      width: 66.67%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
      .popup .popup_content .popup_right .popup_close:link, .popup .popup_content .popup_right .popup_close:visited {
        color: #777777;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        line-height: 1.7rem; }
      .popup .popup_content .popup_right .popup_close:hover {
        color: #55c57a; }
      .popup .popup_content .popup_right .heading-secondary {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        transition: all .2s; }
        .popup .popup_content .popup_right .heading-secondary:hover {
          transform: skewY(2deg) skewX(15deg) scale(1.05);
          text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }
      .popup .popup_content .popup_right .heading-tertiary {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase; }
      .popup .popup_content .popup_right .popup_text {
        font-size: 1.5rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg"); }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover; }

.card-front-pic {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
  background-size: cover; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover; }
