/**https://www.zhihu.com/question/356834039/answer/902427488 CSS RESET**/

@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animation";
@import "base/base";

@import "components/button";
@import "components/header";
@import "components/grid";
@import "components/about_section";
@import "components/composition";
@import "components/featurebox";
@import "components/tours";
@import "components/cards";
@import "components/story_section";
@import "components/bg-video";
@import "components/book_section";
@import "components/form";
@import "components/footer";

.header{
  background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)),
  url("../img/hero.jpg");
}

.section-features{
  background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)),
  url("../img/nat-4.jpg");
  background-size: cover;
}

.card-front-pic{
  background-image: linear-gradient(to right bottom,$color-secondary-light_1,$color-secondary-light_2)
  ,url("../img/nat-5.jpg");
  background-size: cover;
}

.book{
  background-image: linear-gradient(105deg,
                  rgba($color-white,.85) 0%, rgba($color-white,.85) 50%, transparent 50%),
                  url("../img/nat-10.jpg");
  background-size: cover;
}

