.card{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  .card_side{
    height: 50rem;
    transition: all .8s ease;

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    //图片覆盖了父元素，导致角落无法翻转
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black,0.15);

    .card-front-pic{
      height: 23rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0,100% 0, 100% 85% ,0 100%);
    }

    .card-front-heading{
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-white;
      position: absolute;
      top:12rem;
      right: 2rem;
      text-align: right;
      width:67%;
      .card_heading_span{
        background-image: linear-gradient(to right bottom,
        rgba($color-secondary-light_1,.85),rgba($color-secondary-light_2,.85));
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        //断开的盒子独立渲染，有自己的paddings
        box-decoration-break: clone;
      }
    }

    .card-front-detail{
      padding: 3rem;
      ul{
        list-style: none;
        width: 80%;
        margin: 0 auto;
        li{
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem;
          &:not(:last-child){
            border-bottom: 1px solid #eeeeee;
          }
        }
      }
    }
  }

  .front{
    background-color: $color-white;
  }

  .back{
    background-image: linear-gradient(to right bottom,
    $color-secondary-light_1,$color-secondary-light_2);
    transform: rotateY(180deg);
    .cta{
      position: absolute;
      top: 50%;
      left: 50%;
      //本身的50%，达到完全居中的目的
      transform: translate(-50%,-50%);
      width:90%;
      text-align: center;
      .price{
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
        .only{
          font-size: 1.4rem;
          text-transform: uppercase;
        }
        .value{
          font-size: 6rem;
          font-weight: 100;
        }
      }
    }
  }


  //当翻动card的时候，card_side翻转
  &:hover .front{
    transform: rotateY(-180deg);
  }

  &:hover .back{
    transform: rotateY(0deg);
  }

}
