.composition{
  position: relative;
  .photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
    border-radius: 2px;
    position: absolute;
    z-index:10;
    transition: all .2s;
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black,.5);
      //弹起来的在最外层
      z-index: 20;
    }
  }

  //当触碰到整个composition时，选择没有hover状态的所有photo
  &:hover .photo:not(:hover){
    transform: scale(0.95);
  }

  .photo_p1{
      left: 0;
      top: -2rem;
  }
  .photo_p2{
    right: 0;
    top: 2rem;
  }
  .photo_p3{
    left: 20%;
    top: 18rem;
  }

}
