.section-stories {
  padding: 10rem 0;
  //background-color: rgba()$color-gray-light_1;
  position: relative;

  .u-center-text {
    text-align: center;
    margin: 0 auto;

    .heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      display: inline-block;
      //规定背景的绘制区域
      -webkit-background-clip: text;
      color: transparent;

      letter-spacing: .2rem;
      transition: all .2s;

      &:hover {
        //一个元素在二维平面上的倾斜转换
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .3);
      }
    }
  }

  .u-margin-bottom-8 {
    margin-bottom: 8rem;
  }

  .story{
    width: 75%;
    margin: 0 auto 10rem;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color:rgba($color-white,.6);
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;
    font-size: $default-font-size;
    transform: skewX(-10deg);

    .heading-tertiary{
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .u-margin-bottom-small{
      margin-bottom: 1.5rem;
    }

    .story_shape{
      width: 15rem;
      height: 15rem;
      float: left;
      z-index: 99;

      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);

      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(10deg);

      position: relative;

      .story_image{
        height: 100%;
        transform: scale(1.4);
        transition: all .5s;
      }

      .story_caption{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,0%);
        color:$color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
      }

      &:hover .story_caption{
        opacity: 1;
        transform: translate(-50%,-50%);
      }

      &:hover .story_image{
        transform: scale(1);
        filter: blur(2px) brightness(80%);
      }
    }
    .story_text{
      transform: skewX(10deg);
    }

  }

  .discover_btn{
    text-align: center;
  }
}
